.footer {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  flex-direction: column;
  padding-top: 10px;
}
.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
}

.footer p {
  color: white;
}
